{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader -->
<div id="preloader">
   <i class="circle-preloader"></i>
   <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading">
                   <h3>Crie sua publicação, {{ user.username }} :)</h3>
               </div>
           </div>
       </div>

       <div class="row">
           <div class="col-12">
           <p>Todos os campos são obrigatórios</p>
               <div class="contact-form-area">
                   <form action="{% url 'criar_publicacao' %}" method="post" enctype="multipart/form-data">
                           {% csrf_token %}
                       <div class="row">
                           <div class="col-12 col-lg-12">
                               <label for="nome_publicacao"><b>Título da Publicação</b></label>
                               <input type="text" id="nome_publicacao" class="form-control" name="nome_publicacao" placeholder="Ex.Avião de Madeira" required>
                           </div>
                           <div class="col-12">
                               <label for="file"><b>descricao</b></label>
                               <textarea class="form-control" name="descricao" cols="30" rows="10" placeholder="Ex. Avião de Madeira, feito a mão..." required></textarea>
                           </div>
                           <div class="col-12 col-lg-3">
                               <label for="file"><b>Preço</b></label>
                               <input type="number" class="form-control" name="preco" placeholder="Ex. 100 R$" required>
                           </div>
                           <div class="col-12 col-lg-3">
                               <label for="file"><b>Categoria</b></label>
                               <input type="text" class="form-control" name="categoria" placeholder="Ex. Madeira" required>
                           </div>
                           <div class="col-12 col-lg-3">
                               <label for="file"><b>Foto</b></label>
                               <input type="file" class="form-control" name="foto_publicacao" required>
                           </div>
                           <div class="col-12 text-center">
                               <button class="btn delicious-btn mt-30" type="submit">Criar sua Publicação</button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}
