{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                {% if publicacoes.foto_publicacao == '' %}
                <img class="img-fluid" src="{% static 'img/bg-img/foto_publicacao.png' %}" alt="">
                {% else %}
                <img class="img-fluid" src="{{ publicacoes.foto_publicacao.url }}" alt="">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="register-photo">
            <div class="form-container">
                <span></span>

                <div class="receipe-duration">
                    <h6><b>Preço:</b> R${{ publicacoes.preco }}</h6>
                    <h6><b>Categoria:</b> {{ publicacoes.categoria }}</h6>
                    <h6><b>Feito por:</b> {{ publicacoes.usuario }}</h6>
                    <h6><b>Data de Publicação:</b> {{ publicacoes.data_publicacao }}</h6>
                </div>
            </div>


            <!-- descricao -->
            <div class="register-photo">
                <div class="form-container">
                    <h4>Descrição</h4>
                    <div class="ingredients">
                        <p>{{ publicacoes.descricao }}</p>
                        </p>
                    </div>
                </div>
            </div>


            <div class="register-photo">
                <div class="form-container">
                    <h4>Comentarios</h4>
                    {% if comentarios %}
                    {% for comentario in comentarios %}
                    <div class="ingredients">
                        <h3>{{ comentario.titulo}}</h3>
                        </p>
                    </div>
                    <div class="ingredients">
                        <p>{{ comentario.descricao }}</p>
                        </p>
                    </div>
                    {% if user.is_authenticated and user.id == comentario.usuario.id %}
                    <a href="{% url 'deleta_comentario' comentario.id %}" type="button"
                       class="btn btn-danger">Deletar</a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'cadastra_comentario' publicacoes.id %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-12 col-lg-12">
                            <label for="nome_publicacao"><b>Título do comentario</b></label>
                            <input type="text" id="titulo_comentario" class="form-control" name="titulo_comentario">
                        </div>

                        <div class="col-12">
                            <label for="file"><b>Seu comentario</b></label>
                            <textarea class="form-control" name="comentario"></textarea>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                    {% else %}
                    <p>Crie uma conta para comentar</p>
                    {% endif %}
                </div>
            </div>
            <!-- descricao -->


            {% endblock %}
